body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    border: 2px solid #333333;
    border-radius: 10px;
    width: 300px;
    background-color: #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#sys {
    text-align: center;
    margin-top: 10px;
    font-style: italic;
    color: #666666;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    cursor: pointer;
    border-radius: 5px;
    background-color: #e2e2e2;
    transition: background-color 0.5s, color 0.5s;
    padding: 10px 20px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button:hover {
    background-color: #333333;
    color: #FFFFFF;
}
