body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    color: #333;
}

.container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.format-circle {
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
    background-color: #FFFFFF;
    color: #000000;
    border: 2px solid #000000;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}
