body {
    font-family: Arial, sans-serif;
}

#clock {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    width: 200px;
    margin: 0 auto;
}

#sys {
    text-align: center;
    margin-top: 5px;
    font-style: italic;
    color: #666666;
    text-shadow: 1px 1px 2px black;
}

.container {
    display: flex;
    justify-content: center;
}

.button {
    cursor: pointer;
    border-radius: 5px;
    background-color: #e2e2e2;
    transition: background-color 1s linear, color 1s linear;
    padding: 5px 10px;
    margin-top: 10px;
}

.button:hover {
    background-color: #000000;
    color: #FFFFFF;
}
